*,
*::before,
*::after {
  scrollbar-width: none;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

html {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--main-dark-color);
  font-weight: 400;
  background-color: var(--white-color);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  display: none;
}

details summary {
  list-style: none;
  cursor: pointer;
}

.number-of-lines-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  display: block;
  margin: 0;
  padding: 0;
}
