h1 {
  font-size: 22px;
  text-align: center;
  color: var(--sea-green-color);
  font-weight: 700;
  text-transform: capitalize;
}

p {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.6;
}
