:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  main {
    margin-top: var(--header-height);
    padding: 20px;
    padding-top: 18px;
  }

  .dishes-list {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
}
